nav{
    background-color: #56397C;
    text-decoration: none;
}

nav a{
    color: #C9B1C2;
    
    padding: 5px;
}


nav a:hover{
    color: white;
    text-decoration: none;
}

.bo {
    color: #7748B3;
    font-size: 55px;
}

.col-md-6 p {
    font-size: 20px;
}

.icon {
    font-size: 25px;
    padding: 0px 7px;
    border-radius: 5px;
    background-color: #56397C;
    color: white;
}

img {
    width: 100%;
}

.get {
    font-size: 25px;
    padding: 15px 10%;
    border: 1px solid #7542C1;
    border-radius: 5px;
    color: #7542C1;
    background-color: white;
    float: left;
    margin: 10px;
}

.get:hover {
    background-color: #7542C1;
    color: white;
    
}

.down {
    font-size: 25px;
    padding: 15px 10%;
    border: 1px solid black;
    border-radius: 5px;
    color: #75757D;
    background-color: white;
    margin: 10px;
}

.down:hover {
    background-color: #75757D;
    color: white;
}


.container {
    padding-top: 100px;
}

.container-fluid {
    padding-top: 80px;
}

.col-md-4 {
	font-size: 18px;
}

.read {
    border: 1px solid #316DFF;
    padding: 8px;
    color: #316DFF;
    font-size: 16px;
    border-radius: 5px;
    margin: 30px 0;
    background-color: white;
}

.read:hover {
    background-color: #316DFF;
    color: white;
}

.copy {
	font-size: 13px;
}

#cp {
    font-size: 15px;
    padding-left: 10px;
}

.col-md-4 {
    background-color: #F8F9FA;
    padding: 25px;
    border: 1px solid white;
}